* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #333;
  color: beige;

  
}
.navbar {
  margin: 0.5rem;
  padding: 1rem;
  background-color: burlywood;
  border-radius: 0.5rem;
  color: black;
  font-size: x-large;
}

.cardParent {
  display: flex;
  flex-direction: row;
  justify-content: center; /* center cards horizontally */
  align-items: flex-start;
  flex-wrap: wrap; /* allow next row when screen is small */
  gap: 20px;
  margin-top: 2rem; /* optional: spacing below navbar */
}


.card {
  background-color: #222;
  width: 200px;
  height: 220px;
  border: solid white;
  border-radius: 1rem;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


.card button {
  width: 5rem;
  height: 2rem;
  margin: 2rem;
  
  text-align: center;
}

.card h2 {
  margin: 1.5rem;
  padding: 1px;
}