* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(0, 0, 0);
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.card {
  background-color: blueviolet;
  color: bisque;
  padding: 1rem;
  border-radius: 1rem;
  margin: 2rem;
}
.navbar {
  margin: 0.5rem;
  padding: 1rem;
  background-color: burlywood;
  border-radius: 1rem;
  color: black;
  font-size: x-large;
}